.detailcontainer{
    border: 2px solid rgb(52, 53, 52);
width: 25rem;
margin: 0 auto;
margin-top: 10rem;
padding: 1rem;
text-align: center;
border-radius: .5rem;
}
.buttons-container,.action{
    display: flex;
    justify-content: space-between;
}
.action{
width: 6rem;
}
.delogo{
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid red;
  width: 5rem;
  background-color: rgb(243, 243, 20);
  height: 5rem;
  border-radius: 50%;
  text-align: center;
}

.detlogo{
    font-size: 1.5rem;
}
.dlt,.edit,.back{
    cursor: pointer;
}

.fname ,.lname ,.phone ,.email{
    width: 20rem;
    height: 2rem;
    margin: 1rem;
font-size: 1.2rem;
padding: .2rem;
}

.edit:hover{
    text-decoration: underline;
}