.addbtn.conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-button {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 800;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-round-button {
  font-size: 1rem;
  width: 2.5rem;
  height: 3rem;
  padding: 0.5rem;
  font-weight: 800;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  left: 61rem;
}
