.input-container{
display: flex;
justify-content: center;
align-items: center;
}

.search{
    margin-top: 4rem;
width: 22rem;
height: 2rem;
border-radius: .2rem;
outline: none;
font-size: 1.1rem;
padding:1rem;
}